/***************media queries**********************/
@media handheld and (max-width:900px)
{
.outerbox
{
	background-color:aliceblue;
	flex-direction:column;
	justify-content:center;
}

.tablets
{
    display: flex;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
	min-width:207px;
}

#mainbox
{
	margin: 0 auto;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
#com
{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin-bottom: 100px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

#box1 {
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#box2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#he
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	overflow-y: scroll;
    max-height: 250px;
	min-width:130px;
}


#showdetails
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	overflow-y: scroll;
    max-height: 250px;
	min-width:130px;
}

.headpart1
{
	margin-top: auto;
    margin-bottom: auto;
	margin-right: 100px;
	font-size: -webkit-xxx-large;
    font-family: "Lucida Sans Unicode";
	color:red;
}

#namein
{
	box-shadow: 10px 10px 5px dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
	
	border: 2px solid;
    border-radius: 5px;
    margin-left: 15%;
	margin-top:20px;
	width:70%;
	
	background-color:aliceblue;
}

#in2
{
width:60%;	
}

#in
{
width:60%;	
}


}

@media screen and (min-width:1818px) and (max-width:1920px)
{
.tablets
{
    display: flex;
    justify-content: center;
    width: 60%;
    flex-wrap: wrap;
	min-width:207px;
}
}

@media screen and (min-width:1560px) and (max-width:1818px)
{
.tablets
{
    display: flex;
    justify-content: center;
    width: 70%;
    flex-wrap: wrap;
	min-width:207px;
}
}

@media screen and (min-width:1367px) and (max-width:1560px)
{
.tablets
{
    display: flex;
    justify-content: center;
    width: 80%;
    flex-wrap: wrap;
	min-width:207px;
}
}

@media screen and (min-width:1218px) and (max-width:1367px)
{
.tablets
{
    display: flex;
    justify-content: center;
    width: 90%;
    flex-wrap: wrap;
	min-width:207px;
}
}

@media screen and (min-width:1098px) and (max-width:1218px)
{
.tablets
{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
	min-width:207px;
}
}


@media screen and (min-width:999px) and (max-width:1098px)
{
.tablets
{
    display: flex;
    justify-content: center;
    width: 110%;
    flex-wrap: wrap;
	min-width:207px;
}
}

@media screen and (min-width:917px) and (max-width:999px)
{
.tablets
{
    display: flex;
    justify-content: center;
    width: 110%;
    flex-wrap: wrap;
	min-width:207px;
}
}
/***********all the media queries end here*************/

body
{
	background-color:aliceblue;
	margin:0px;	
}
.votechoice
{
	border-radius:4px;
	width:	25%;
	margin: 15px;
    height: 15%;
	font-size: x-large;
	border: 2px solid;
	color: dodgerblue;
	cursor: pointer;
}

.url
{
	font-size: x-large;
}

.invitationblock
{
	margin:auto;
	width: 70%;	
}

.newuser
{
	color: antiquewhite;
}
.invite
{
	width:100%;
	resize:none;
}

.myTableData
{
	margin:auto;
	font-size: larger;
}

.roomdetails
{
	margin-top: 10px;
}

.headpart1
{
	margin-top: auto;
    margin-bottom: auto;
	margin-right: 100px;
	font-size: 28px;
    font-family: "Lucida Sans Unicode";
	color:whitesmoke;
	
}

.logdetails
{
	margin-top: auto;
    margin-bottom: auto;
	margin-left: 100px;
}

.pagehead
{
	min-height: 70px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
	background-color: dodgerblue;
}

.outerbox
{
	background-color:aliceblue;
	flex-direction:column;
	justify-content:center;
}

.mybutton1
{
	width: 75%;
    display: flex;
    justify-content: center;
}

.complete
{
	display: flex;
    justify-content: center;
}

.set1
{
	display:flex;
	flex-direction:row;
	justify-content:center;
	width:94%;
}
.done
{

	width: 90%;
	border:2px solid;
	height:44px;
	border-radius: 5px;
	font-size: large;
	color: cornflowerblue;
}

.tos
{	
    width: 200px;
    /*border: 1px solid #666;*/
    padding: 10px 0 ;
    text-align:center;
    opacity: .9;
	-webkit-transition: opacity 4s ease-out; /* Saf3.2+, Chrome */
	transition: opacity 4s ease-out;
	float:right;
}

.disroom
{
	width: 60%;
    margin: auto;
	font-family: cursive;
}
.result
{
	color: cornflowerblue /*#0D07EC*/;
}

.maxvote
{
	color: #0600FF;
}
.minvote
{
	color: #0600FF;
}

.na
{
	margin:10px;
	width:20%;
	float:left;
	font-size:20px;
	
}

.va
{
	margin:10px;
	width:20%;
	float:left;
	font-size:20px;
}

.submit
{
	font-size: x-large;
    border: 2px solid;
    border-radius: 4px;
    width: 40%;
	padding:0px;
	border-color:red;
}

.clock
{
	margin-right:10px;
}
.foot
{
	background-color:gainsboro;
	display:flex;
	justify-content:center;
}



#mainbox
{
	width:75%;
	margin: 0 auto;
	display:flex;
	flex-direction:row;
	justify-content:center;
}

#div1
{
	float:left;	
}

#div2
{
	float:left;
}

#div3
{
	float:right;
	display:flex;
	justify-content:center; 
}

#time1
{
	display:flex;
	flex-direction:row;
	justify-content:center; 
}
#demo
{
    font-size: x-large;
    display: inline;
}

#com
{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	margin-bottom: 100px;
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

#namein
{
	box-shadow: 10px 10px 5px dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
	
	border: 2px solid;
    border-radius: 5px;
    margin-left: 30%;
    margin-right: 30%;
	margin-top:20px;
	
	min-width:295px;
	
	background-color:aliceblue;
}

#box1 {
	width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20%;
}
#box2 {
	width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#nb2
{
	color: cornflowerblue;
	border:2px solid;
	height:44px;
	width:50%;
	border-radius: 5px;
	font-size: large;

}
#nb1
{
	color: cornflowerblue;
	border:2px solid;
	height:44px;
	width:50%;
	border-radius: 5px;
	font-size: large;
}

#b1
{
	display: flex;
    justify-content: center;
}

button{
	margin:10px;
	background-color:white;
	border:3px solid;
	border-width:thin;
	cursor: pointer;
	
	outline: 0;
	padding: 12px 20px;
	transition: all .1s linear;
}

#click1
{
	height:50px;
	width:50px;
	color:gray;
	background-color:black;
	
}

#b
{
	width: 70%;
	display:flex;
	flex-direction:column;
	align-self: center;
}

#in
{
	height:30px;
	margin-top:10px;
	margin-bottom:10px;
}

#in2
{
	height:30px;
	margin-bottom: 10px;
}


td:nth-of-type(2) 
{
   padding-right: 70px;
}

th:nth-of-type(2) 
{
   padding-right: 70px;
}

#he
{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	overflow-y: scroll;
    max-height: 250px;
}


button:hover
{
	background-color:#B6E1EC;
}

button:active
{
	background-color: black;
	box-shadow: 0 2px 0 #006599;
	transform: translateY(3px);
}

footer
{
	display:block;
}